#upload{
  display: none;
}

#cv{
  display: none;
}

/*#profil{
  display: none;
}*/

/*#news{
  display: none;
}*/

#payslip{
  display: none;
}

#home{
  display: none;
}

#hc{
  display: none;
}

#admin{
  display: none;
}